/*RWD 1200px - 922px - 768px - 520px - 360px*/

/*BIG SCREENS*/

@media all and (max-width:1200px) {
    .about-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        width: 100%
    }

    #skills .section-title h2:after {
        left: 40%
    }

    #portfolio .section-title h2:after {
        left: 39%
    }

    #contact .section-title h2:after {
        left: 43%;
    }

    .features-section {
        width: 90%;
        margin-bottom: 0;
    }

    .skills-inner {
        width: 70%;
    }

    .single-service {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
        flex: 1 1 40%;
    }


    .single-service.css3-box {
        border-right: none;
        border-bottom: 1px solid #dfdfdf;
    }

    .single-service.html5-box {
        border-bottom: 1px solid #dfdfdf;
    }

    .services-separator {
        display: none;
    }

    .single-service.jquery-box {
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
    }

    .single-service.bootstrap-box {
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        border-right: none;
    }


    #contact-form {
        width: 80%;
    }
}

/*MEDIUM SCREENS*/

@media all and (max-width:922px) {

    .main-nav .toggle {
        display: block;
        margin-top: 8px;
        margin-right: 15px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        z-index: 20;
    }

    .navbar {
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        padding-top: 20px;
        z-index: 10;
        transition: all 0.3s ease-in-out;
    }

    .navbar.overlay {
        visibility: visible;
        opacity: 1;
        padding-top: 100px;
        background: rgba(0, 0, 0, 0.9);
    }

    .navbar li {
        list-style: none;
        display: block;
    }

    .navbar li a {
        display: block;
        font-size: 28px;
        margin-bottom: 15px;
        text-decoration: none;
    }

    .nav-links {
        color: white;
    }

    /* ------------------------- */

    .avatar-hero img {
        width: 130px;
        height: 130px;
    }

    .main-header .header-content h1 {
        font-size: 36px;
    }

    .main-header .header-content h2 {
        font-size: 20px;
    }

    #skills .section-title h2:after {
        left: 37%
    }

    #portfolio .section-title h2:after {
        left: 34%
    }

    #contact .section-title h2:after {
        left: 40%;
    }

    .filtr-item {
        width: 70%;
    }

    .contact-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .contact-item .c-data {
        margin: 0;
        width: 280px;
    }

}

/*SMALL SCREENS*/

@media all and (max-width:768px) {
    .single-service {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .single-service.html5-box,
    .single-service.css3-box,
    .single-service.javascript-box,
    .single-service.jquery-box,
    .single-service.github-box,
    .single-service.bootstrap-box,
    .single-service.sass-box,
    .single-service.wordpress-box {
        border-right: none;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }

    #skills .section-title h2:after {
        left: 34%
    }

    #portfolio .section-title h2:after {
        left: 30%
    }

    #contact .section-title h2:after {
        left: 38%;
    }

    .filtr-item {
        width: 90%;
    }

    #contact-form {
        width: 100%;
    }

}

/*EXTRA SMALL SCREENS*/

@media all and (max-width:520px) {

    .container {
        padding: 100px 20px;
    }

    .main-nav .navbar li a:after {
        left: 40%;
    }

    .main-nav .navbar>li>a:hover:after,
    .main-nav .navbar>li>a.active:after {
        width: 20%;
    }


    #skills .section-title h2:after {
        left: 28%
    }

    #portfolio .section-title h2:after {
        left: 23%
    }

    #contact .section-title h2:after {
        left: 33%;
    }

    .filtr-item {
        width: 100%;
    }

}

@media all and (max-width:360px) {
    #skills .section-title h2:after {
        left: 20%
    }

    #portfolio .section-title h2:after {
        left: 16%
    }

    #contact .section-title h2:after {
        left: 29%;
    }
}