/*=============================
GENERALS STYLES
==============================*/

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 1px;
    background-color: #fff;
    color: #484848;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.2;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 26px;
}

b,
strong {
    font-weight: 700;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

a,
a:focus,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
    outline: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.social {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.effect {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.tag1 {
    display: block;
    margin-bottom: 50px;
    font-family: 'La Belle Aurore', cursive;
    font-size: 24px;
    color: #465f91;
}

.tag2 {
    display: block;
    margin-top: 50px;
    font-family: 'La Belle Aurore', cursive;
    font-size: 24px;
    color: #465f91;
}

.section-title {
    display: block;
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}

.section-title h2 {
    position: relative;
    display: inline-block;
    margin: 0;
    padding-bottom: 15px;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

.section-title h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 43%;
    width: 60px;
    height: 2px;
    background-color: #444444;
}

.container {
    padding: 100px 200px;
}


/*----------------------------------------
                PRELOADER
----------------------------------------*/

.loader-con {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    z-index: 99;

}

.double-bounce1,
.double-bounce2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #444;
    opacity: 0.8;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.double-bounce2 {
    background-color: #000;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}


/*========================
       NAVIGATION
=========================*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    padding: 6px 0;
    position: fixed;
    background-color: transparent;
    z-index: 20;
    padding-bottom: 15px;
    padding-top: 15px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.main-nav .navbar li {
    display: inline-block;
}

.main-nav .navbar li a {
    display: block;
    position: relative;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #e2e2e2;
}

.main-nav .navbar li a:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    left: 10%;
    height: 2px;
    bottom: 6px;
    background-color: #ddd;
    -webkit-transition: all .28s ease-in-out;
    transition: all .28s ease-in-out;
}

.main-nav .navbar > li > a:hover,
.main-nav .navbar > li > a.active {
    background-color: transparent;
}

.main-nav .navbar > li > a:hover:after,
.main-nav .navbar > li > a.active:after {
    width: 80%;
}

.main-nav .navbar > li > a:focus {
    background-color: transparent;
}

.main-nav.scrolled {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
}

.main-nav .navbar .scroll {
    color: #000;
}

.main-nav .navbar .scroll:after {
    background-color: #000;
}

.main-nav .logo {
    font-size: 30px;
    color: #6699ff;
    letter-spacing: 0;
}

.main-nav .logo span {
    color: #fff;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.main-nav .logo .scroll span {
    color: #000;
}

/*========================
           HOME
=========================*/

.main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #fff;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.2);
}

.main-header .header-content {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10;
    padding-top: 20vh;
}

.main-header .header-content h1,
h2,
p {
    width: 100%;
}

.main-header .header-content h1 {
    color: #fff;
    font-size: 50px;
    margin: 36px 0 22px;
}

.main-header .header-content h1 span {
    color: #6699ff;
}

.main-header .header-content h2 {
    font-size: 26px;
    color: #e2e2e2;
    text-transform: uppercase;
    margin: 10px 0;
}

.avatar-hero img {
    width: 170px;
    height: 170px;
    background-color: #000;
    border-radius: 50%;
    border: 3px solid #dfdfdf;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.typer-title .typewrite .dash {
    -webkit-animation: 1s dash step-end infinite;
    animation: 1s dash step-end infinite;
}

.scroll-downs .mousey {
    cursor: pointer;
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.scroll-downs .mousey .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    -webkit-animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/*========================
           ABOUT
=========================*/

.about-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #fff;
}

.about-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    margin: 0 20px;
}

.about-content h2 {
    margin-bottom: 30px;
    text-transform: capitalize;
}

.about-content p {
    margin-bottom: 12px;
}

.about-content ul li {
    margin-top: 8px;
    font-size: 14px;
    color: #666;
}

.about-content ul li span {
    font-weight: 700;
    color: #232323;
}

.about-content ul li span i {
    margin-right: 4px;
}

.social-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-list li {
    display: inline-block;
    margin: 4px;
}

.social-list li a {
    display: inline-block;
    font-size: 16px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 36px;
    color: #232323;
    border: 1px solid #888;
    border-radius: 50%;
}

.social-list li:hover a {
    color: #fafafa;
    background-color: #232323;
    border-color: transparent;
}

.features-section {
    padding: 20px 0;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    margin: 0 20px;
}

.progress-bar-linear {
    padding-top: 20px;
    padding-bottom: 20px;
}

.progress-bar-text {
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 6px;
    font-size: 13px;
    font-weight: 700;
}

.progress-cont {
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.progress-bar-linear .progress-bar-features {
    position: relative;
    width: 100%;
    background-color: #dfdfdf;
    border-radius: 12px;
}

.progress-bar-features .progress-bar-line {
    position: relative;
    width: 5%;
    height: 6px;
    background-color: #4f4f4f;
    -webkit-transition: all 1.6s ease-out;
    transition: all 1.6s ease-out;
    border-radius: 12px;
}

/*========================
           SKILLS
=========================*/

#skills {
    background-color: #fafafa;
}

.skills-inner {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.single-service {
    padding: 10px;
    text-align: center;
    width: 100%;
}

.single-service.bordered {
    border-right: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
}

.single-service.bordered-right {
    border-right: 1px solid #dfdfdf;
}

.services-separator {
    width: 100%;
    margin: 15px auto;
    height: 1px;
    background: #dfdfdf;
}

.single-service figure .fa {
    font-size: 50px;
    line-height: 70px;
    width: 41px;
}

.single-service:hover figure .fa {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.single-service:hover figure .icon-html5-alt {
    color: #e52626;
}

.single-service:hover figure .icon-css3-alt {
    color: #3a99db;
}

.single-service:hover figure .icon-javascript-alt {
    color: #d6ba32;
}

.single-service:hover figure .fa-github {
    color: #58297b;
}

.single-service figure .icon-jquery {
    width: auto;
}

.single-service:hover figure .icon-jquery {
    color: #1169ae;
}

.single-service figure .icon-bootstrap {
    width: auto;
}

.single-service:hover figure .icon-bootstrap {
    color: #542748;
}

.single-service:hover figure .icon-sass {
    color: #cc6599;
}

.single-service figure .icon-wordpress {
    width: auto;
}

.single-service:hover figure .icon-wordpress {
    color: #00759d;
}

.service-content h3 {
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 700;
}

.s-line {
    margin: 12px auto 0;
    width: 55px;
    height: 1px;
    background-color: #333;
}

.single-service p {
    margin-top: 12px;
    font-size: 14px;
}


/*========================
        PORTFOLIO
=========================*/

#portfolio {
    background-color: #fff;
}

.filtr-item{
    padding-right: 15px;
    padding-left: 15px;
}

#work-list {
    margin-bottom: 40px;
}

#work-list li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

#work-list li .filter {
    position: relative;
    margin: 4px 8px;
}

#work-list li .filter:after {
    content: '';
    position: absolute;
    bottom: calc(50% - 1px);
    left: 0;
    width: 0;
    height: 1px;
    background-color: #484848;
    -webkit-transition: width .24s ease-out;
    transition: width .24s ease-out;
}

#work-list li .filter:hover:after,
#work-list li .filter-active:after {
    width: 100%;
}

.single-work {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.single-work img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.single-work:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.work-overlay {
    position: absolute;
    pointer-events: none;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.work-overlay:after {
    content: '';
    position: absolute;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    top: 12px;
    left: 12px;
    border: 1px solid #fdfdfd;

}

.single-work:hover .work-overlay {
    opacity: 1;
}

.work-overlay h3 {
    position: absolute;
    bottom: 40px;
    left: 26px;
    color: #eee;
    font-size: 18px;
}

.work-overlay p {
    position: absolute;
    font-size: 12px;
    color: #ddd;
    left: 26px;
    bottom: 10px;
}


/*========================
           CONTACT
=========================*/

#contact {
    background-color: #fafafa;
}

/*========================
           FOOTER
=========================*/

#footer {
    background-color: #f1f1f1;
}



/*----------------------------------------
keyframes animation
----------------------------------------*/

/* PreLoader Animations*/

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }
    50% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }
    50% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}


/*typewriter blinking cursor animation*/

@-webkit-keyframes dash {
    0%,
    100% {
        color: transparent;
    }
    50% {
        color: #bfbfbf;
    }
}

@keyframes dash {
    0%,
    100% {
        color: transparent;
    }
    50% {
        color: #bfbfbf;
    }
}



/*mouse wheel scroller animation*/

@-webkit-keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        opacity: 0;
    }
}
