@media all and (max-width:576px) {
    .main-header {
        background-image: url(../img/header-bg-min.jpg);
    }

    .main-nav .navbar li a:after {
        left: 40%;
    }

    .main-nav .navbar>li>a:hover:after,
    .main-nav .navbar>li>a.active:after {
        width: 20%;
    }


    .skills .section-title h2:after {
        left: 28%
    }

    .portfolio .section-title h2:after {
        left: 23%
    }

    .contact .section-title h2:after {
        left: 33%;
    }

    .filtr-item {
        width: 100%;
    }

}