@media all and (max-width:1200px) {
    .main-header {
        .header-content {
            h1 {
                font-size: 36px;
            }

            h2 {
                font-size: 18px;
            }
        }
    }

    .avatar-hero {
        img {
            width: 130px;
            height: 130px;
        }
    }

    .about-inner {
        flex-flow: column;
        width: 100%;
    }

    .skills {
        .section-title {
            h2 {
                &:after {
                    left: 40%;
                }
            }
        }
    }

    .portfolio {
        .section-title {
            h2 {
                &:after {
                    left: 39%;
                }
            }
        }
    }

    .contact {
        .section-title {
            h2 {
                &:after {
                    left: 43%;
                }
            }
        }
    }

    .features-section {
        width: 90%;
        margin-bottom: 0;
    }

    .skills-inner {
        width: 70%;
    }

    .single-service {
        flex: 1 1 30%;
    }
}