@media all and (max-width:992px) {
    .main-header {
        background-image: url(../img/header-bg-min.jpg);
    }

    .skills {
        .section-title {
            h2 {
                &:after {
                    left: 37%;
                }
            }
        }
    }

    .portfolio {
        .section-title {
            h2 {
                &:after {
                    left: 34%;
                }
            }
        }
    }

    .contact {
        .section-title {
            h2 {
                &:after {
                    left: 40%;
                }
            }
        }
    }

    .filtr-item {
        width: 70%;
    }

    .contact-item {
        flex-flow: column;

        .c-data {
            margin: 0;
            width: 280px;
        }
    }

    .contact-form {
        width: 100%;
    }
}